{% extends "base.html" %}

{% block contents %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>SGX</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <span>SGX</span>
                </li>
                <li class="active">
                    <strong>SGX 이미지 실행</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5> SGX 이미지 실행</h5>
                    </div>
                    <div class="ibox-content">











                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}