{% extends "base.html" %}

{% block contents %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>SGX</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <span>SGX</span>
                </li>
                <li class="active">
                    <strong>SGX 이미지 실행</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5> SGX 이미지 실행</h5>&nbsp;&nbsp;
                        <small>생성된 Image 파일을 실행</small>
                    </div>
                    <div class="ibox-content">
                    {#  input hidden content  #}
                    <input type="hidden" id="category" name="category" value="python">
                        <div class="tabs-container" style="margin-top: 10px;">
                            <ul class="nav nav-tabs">
                                <li class="{% if category == 'python' or category == None %}active{% else %}{% endif %}"><a data-toggle="tab" href="#tab-1">Python</a></li>
                                <li class="{% if category == 'nodejs' %}active{% else %}{% endif %}"><a data-toggle="tab" href="#tab-2">nodejs</a></li>
                                <li class="{% if category == 'java' %}active{% else %}{% endif %}"><a data-toggle="tab" href="#tab-3">java</a></li>
                                <li class="{% if category == 'C' %}active{% else %}{% endif %}"><a data-toggle="tab" href="#tab-4">C</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane {% if category == 'python' or category == None %}active{% else %}{% endif %}">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-5 m-b-xs">
                                                <button type="button" class="btn btn-sm btn-success" id="executionPython">실행</button>
                                                <button type="button" class="btn btn-sm btn-danger" id="deletePython" >삭제</button>
                                            </div>
                                            <div class="col-sm-4 m-b">

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary"> 검색</button> </span></div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>상태 </th>
                                                    <th>Image </th>
                                                    <th>경로</th>
                                                    <th>크기</th>
                                                    <th>생성일자</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for lkls in lklList %}
                                                    {% if lkls.dockerId.category == 'python' %}
                                                        <tr {% if category == lkls.dockerId.category and imageName == lkls.imageName %} class="blue-bg text-white" {% else %}{% endif %}>
                                                            <td>
                                                                <input type="checkbox" class="i-checks" name="chkBox" value="{{ lkls.id }}"
                                                                {% if category == lkls.dockerId.category and imageName == lkls.imageName %}checked{% else %}{% endif %}>
                                                            </td>
                                                            <td><span class="label label-primary">{{ lkls.imageRun }}</span></td>
                                                            <td>{{ lkls.imageName }}</td>
                                                            <td>{{ lkls.imagePath }}</td>
                                                            <td>{{ lkls.imageSize}}</td>
                                                            <td>{{ lkls.registeredDt|date:'Y-m-d h:m:s' }}</td>
                                                        </tr>
                                                     {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div id="tab-2" class="tab-pane {% if category == 'nodejs' %}active{% else %}{% endif %}">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-5 m-b-xs">
                                                <button type="button" class="btn btn-sm btn-success" id="executionNodejs">실행</button>
                                                <button type="button" class="btn btn-sm btn-danger" id="deleteNodejs">삭제</button>
                                            </div>
                                            <div class="col-sm-4 m-b">

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>상태 </th>
                                                    <th>Image </th>
                                                    <th>경로</th>
                                                    <th>크기</th>
                                                    <th>생성일자</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for lkls in lklList %}
                                                    {% if lkls.dockerId.category == 'nodejs' %}
                                                        <tr {% if category == lkls.dockerId.category and imageName == lkls.imageName %} class="blue-bg text-white" {% else %}{% endif %}>
                                                            <td><input type="checkbox" class="i-checks" name="chkBox" value="{{ lkls.id }}"
                                                            {% if category == lkls.dockerId.category and imageName == lkls.imageName %}checked{% else %}{% endif %}></td>
                                                            <td><span class="label label-primary">{{ lkls.imageRun }}</span></td>
                                                            <td>{{ lkls.imageName }}</td>
                                                            <td>{{ lkls.imagePath }}</td>
                                                            <td>{{ lkls.imageSize}}</td>
                                                            <td>{{ lkls.registeredDt|date:'Y-m-d h:m:s' }}</td>
                                                        </tr>
                                                     {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div id="tab-3" class="tab-pane {% if category == 'java' %}active{% else %}{% endif %}">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-5 m-b-xs">
                                                <button type="button" class="btn btn-sm btn-success" id="executionJava">실행</button>
                                                <button type="button" class="btn btn-sm btn-danger" id="deleteJava">삭제</button>
                                            </div>
                                            <div class="col-sm-4 m-b">

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>상태 </th>
                                                    <th>Image </th>
                                                    <th>경로</th>
                                                    <th>크기</th>
                                                    <th>생성일자</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for lkls in lklList %}
                                                    {% if lkls.dockerId.category == 'java' %}
                                                        <tr {% if category == lkls.dockerId.category and imageName == lkls.imageName %} class="blue-bg text-white" {% else %}{% endif %}>
                                                            <td><input type="checkbox" class="i-checks" name="chkBox" value="{{ lkls.id }}"
                                                            {% if category == lkls.dockerId.category and imageName == lkls.imageName %}checked{% else %}{% endif %}></td>
                                                            <td><span class="label label-primary">{{ lkls.imageRun }}</span></td>
                                                            <td>{{ lkls.imageName }}</td>
                                                            <td>{{ lkls.imagePath }}</td>
                                                            <td>{{ lkls.imageSize}}</td>
                                                            <td>{{ lkls.registeredDt|date:'Y-m-d h:m:s' }}</td>
                                                        </tr>
                                                     {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div id="tab-4" class="tab-pane {% if category == 'C' %}active{% else %}{% endif %}">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-5 m-b-xs">
                                                <button type="button" class="btn btn-sm btn-success" id="executionC">실행</button>
                                                <button type="button" class="btn btn-sm btn-danger" id="deleteC">삭제</button>
                                            </div>
                                            <div class="col-sm-4 m-b">

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>상태 </th>
                                                    <th>Image </th>
                                                    <th>경로</th>
                                                    <th>크기</th>
                                                    <th>생성일자</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for lkls in lklList %}
                                                    {% if lkls.dockerId.category == 'C' %}
                                                        <tr {% if category == lkls.dockerId.category and imageName == lkls.imageName %} class="blue-bg text-white" {% else %}{% endif %}>
                                                            <td><input type="checkbox" class="i-checks" name="chkBox" value="{{ lkls.id }}"
                                                            {% if category == lkls.dockerId.category and imageName == lkls.imageName %}checked{% else %}{% endif %}></td>
                                                            <td><span class="label label-primary">{{ lkls.imageRun }}</span></td>
                                                            <td>{{ lkls.imageName }}</td>
                                                            <td>{{ lkls.imagePath }}</td>
                                                            <td>{{ lkls.imageSize}}</td>
                                                            <td>{{ lkls.registeredDt|date:'Y-m-d h:m:s' }}</td>
                                                        </tr>
                                                     {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}