{% extends "base.html" %}

{% block contents %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>사용자 관리</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <strong>사용자리스트</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9 m-b-xs">
                            <a data-toggle="modal" class="btn btn-primary btn-sm" href="#modal-form">사용자 등록</a>
                            <button class="btn btn-danger btn-sm" type="button">
                                <i class="fa fa-trash"></i>&nbsp;&nbsp;<span class="bold">삭제</span>
                            </button>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> 검색</button> </span></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Project </th>
                                <th>Completed </th>
                                <th>Task</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox"  checked class="i-checks" name="input[]"></td>
                                <td>Project<small>This is example of project</small></td>
                                <td><span class="pie">0.52/1.561</span></td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                <td>Alpha project</td>
                                <td><span class="pie">6,9</span></td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                <td>Betha project</td>
                                <td><span class="pie">3,1</span></td>
                                <td>75%</td>
                                <td>Jul 18, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                <td>Gamma project</td>
                                <td><span class="pie">4,9</span></td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-form" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form">
                                <div class="form-group">
                                    <label>아이디</label>
                                    <input id="userName" name="userName" type="text" class="form-control" aria-required="true" aria-invalid="true">
                                </div>
                                <div class="form-group">
                                    <label>비밀번호</label>
                                    <input id="password" name="password" type="password" class="form-control" aria-required="true" aria-invalid="false">
                                </div>
                                <div class="form-group">
                                    <label>비밀번호 확인</label>
                                    <input id="confirm" name="confirm" type="password" class="form-control" aria-required="true" aria-invalid="false">
                                </div>
                                <label class="control-label">권한</label>
                                <select class="form-control m-b" name="account">
                                        <option>관리자</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                <div class="form-group">
                                    <label>사용자명</label>
                                    <input id="userName" name="userName" type="text" class="form-control" aria-required="true" aria-invalid="true" placeholder="(선택)">
                                </div>

                                <div class="form-group"><label>이메일(필수)</label>
                                    <div class="input-group"><input type="email" class="form-control" placeholder="Enter email">
                                        <div class="input-group-btn">
                                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">선택 <span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="#">gmail.com</a></li>
                                                <li><a href="#">naver.com</a></li>
                                                <li><a href="#">daum.net</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                    <br><br>
                                <button class="btn btn-default pull-right m-t-n-xs" type="submit"><strong>취소</strong></button>
                                <button class="btn btn-primary pull-right m-t-n-xs" type="submit"><strong>등록</strong></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}