{% extends "base.html" %}

{% block contents %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>사용자 관리</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <strong>사용자리스트</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9 m-b-xs">
                            <a data-toggle="modal" class="btn btn-primary btn-sm" href="#modal-form">사용자 등록</a>
                            <button class="btn btn-danger btn-sm" type="button">
                                <i class="fa fa-trash"></i>&nbsp;&nbsp;<span class="bold">삭제</span>
                            </button>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> 검색</button> </span></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>사용자명 </th>
                                <th>권한</th>
                                <th>이메일</th>
                                <th>상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for users in userList %}
                                <tr>
                                    <td><input type="checkbox"  checked class="i-checks" name="input[]"></td>
                                    <td>{{ users.username }}</td>
                                    <td>{{ users.auth }}</td>
                                    <td>{{ users.useremail}}</td>
                                    <td>{{ users.use_state }}</td>
                                </tr>
                            {% endfor %}
                            <!--
                            <tr>
                                <td><input type="checkbox"  checked class="i-checks" name="input[]"></td>
                                <td>Project<small>This is example of project</small></td>
                                <td><span class="pie">0.52/1.561</span></td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                <td>Alpha project</td>
                                <td><span class="pie">6,9</span></td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                <td>Betha project</td>
                                <td><span class="pie">3,1</span></td>
                                <td>75%</td>
                                <td>Jul 18, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                <td>Gamma project</td>
                                <td><span class="pie">4,9</span></td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-form" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <form id="userModalForm" name="userModalForm" role="form" action="/user/list/" method="POST">
                                {% csrf_token %}
                                <div id="userNameGroup" name="userNameGroup" class="form-group" style="margin-top: 20px">
                                    <label class="control-label" for="userName">사용자명</label>
                                    <input id="userName" name="userName" type="text" class="form-control" aria-required="true" aria-invalid="true">
                                    <span id="userNameSpan" name="userNameSpan" class="help-block"></span>
                                </div>
                                <div id="passwordGroup" name="passwordGroup" class="form-group">
                                    <label class="control-label" for="password">비밀번호</label>
                                    <input id="password" name="password" type="password" class="form-control" aria-required="true" aria-invalid="false">
                                    <span id="passwordSpan" name="passwordSpan" class="help-block"></span>
                                </div>
                                <label class="control-label" for="auth">권한</label>
                                <select id="auth" name="auth" class="form-control m-b" >
                                        <option>관리자</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                <div id="emailGroup" name="emailGroup" class="form-group">
                                    <label class="control-label" for="email">이메일</label>
                                    <input id="email" name="email" type="email" class="form-control">
                                    <span id="emailSpan" name="emailSpan" class="help-block"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="userSubmit" class="btn btn-primary m-t-n-xs" type="submit"><strong>등록</strong></button>
                    <button id="userCancel" class="btn btn-default m-t-n-xs" type="button" data-dismiss="modal"><strong>취소</strong></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}