{% extends "base.html" %}

{% block contents %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Docker</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <strong>Docker 이미지 리스트</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9 m-b-xs">
                            <button class="btn btn-success btn-sm" type="button" onclick="location.href='/dockers/register/'">
                                <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">이미지 생성</span>
                            </button>
                            <button class="btn btn-danger btn-sm" type="button">
                                <i class="fa fa-trash"></i>&nbsp;&nbsp;<span class="bold">삭제</span>
                            </button>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> 검색</button> </span></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>상태 </th>
                                    <th>Image </th>
                                    <th>일시</th>
                                    <th>크기</th>
                                    <th>생성일자</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for docker in dockerList %}
                                <tr>
                                    <td><input type="checkbox" checked class="i-checks" name="input[]"></td>

                                    {% if docker.State == 'running' %}
                                        <td><span class="label label-primary">{{ docker.State }}</span></td>
                                    {% else %}
                                        <td><span class="label label-danger">exited</span></td>
                                    {% endif %}

                                    <td>{{ docker.RepoTags }}</td>
                                    <td>{{ docker.Status }}</td>
                                    <td>{{ docker.Size }}</td>
                                    <td>{{ docker.Created }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}