{% extends "base.html" %}
<script src="/static/js/dockers/docker_list.js"></script>
{% block contents %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Home</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="">Home</a>
                </li>
                <li class="active">
                    <span>Docker</span>
                </li>
                <li class="active">
                    <strong>Docker 이미지 생성</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="ibox-title">
                    <h5> Docker 이미지 등록   <small>Dockerfile을 작성하여 SGX 로 빌드할 도커 이미지를 생성합니다.</small></h5>
                </div>
                <div class="ibox-content grey">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1"> Web 에디터</a></li>
{#                            <li class=""><a data-toggle="tab" href="#tab-2">업로드 파일</a></li>#}
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                            <form id="registForm" method="post" encType="multipart/form-data" action="." >
                                <div class="panel-body">
                                    {% csrf_token %}
                                    <div class="col-sm-6 b-r">
                                        {% for field in form %}
                                            {% if field.name == 'category' %}
                                                <div class="form-group col-sm-12">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    <select class="form-control m-b" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                                        <option value="python">python</option>
                                                        <option value="nodejs">nodejs</option>
                                                        <option value="java">java</option>
                                                        <option value="C">C</option>
                                                    </select>
                                                </div>
                                            {% elif field.name == 'dockerfile'%}
                                            {% elif field.name == 'filePath'%}
                                            {% elif field.name == 'directories'%}
                                            {% else %}
                                                {% if field.name == 'version' %}
                                                    <div class="form-group col-sm-12 {% if field.errors %} has-error {% endif %}">
                                                        <label id="version_label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        <select class="form-control m-b" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                                            <option value="3.10">3.10</option>
                                                            <option value="3.9">3.9</option>
                                                            <option value="3.8">3.8</option>
                                                            <option value="3.7">3.7</option>
                                                        </select>
                                                    </div>
                                                    {% if field.errors %}
                                                        <span style="color: red">{{ field.errors }}</span>
                                                    {% endif %}
                                                {% else %}
                                                    <div class="form-group col-sm-12 {% if field.errors %} has-error {% endif %}">
                                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                                                                name="{{ field.name }}" value="{{ field.field.empty_value }}" maxlength="30"/>
                                                    </div>
                                                    {% if field.errors %}
                                                        <span style="color: red">{{ field.errors }}</span>
                                                    {% endif %}
                                                {% endif %}

                                            {% endif %}
                                            {% ifequal field.name 'filePath'%}
                                                <div class="form-group col-sm-12" >
                                                    <label for="{{ field.id_for_label }}">실행파일</label>
                                                    <input type="file" id="filePath" name="filePath[]" class="form-control" webkitdirectory directory multiple/>
                                                    <input type="text" id="directories" name="directories" class="form-control hidden" />
                                                    {% if field.errors %}
                                                        <span style="color: red">{{ field.errors }}</span>
                                                    {% endif %}
                                                    <div style="height: 130px;overflow-x: hidden">
                                                        <ul id="listing" ></ul>
                                                    </div>
                                                </div>
                                            {% endifequal %}
                                            {% ifequal field.name 'directories'%}
                                                {% if field.errors %}
                                                    <span style="color: red">{{ field.errors }}</span>
                                                {% endif %}
                                            {% endifequal %}
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-6 b-r">
                                        <div class="ibox">
                                            {% for field in form %}
                                                {% ifequal field.name 'dockerfile' %}
                                                    {% if field.errors %}
                                                        <span style="color: red">{{ field.errors }}</span>
                                                    {% endif %}
                                                <div class="ibox-content">
                                                    <textarea id="{{ field.id_for_label }}" name="{{ field.name }}">
FROM python:3.6-alpine3.10
MAINTAINER admin

RUN mkdir -p /usr/src/app
WORKDIR /usr/src/app

RUN pip install --no-cache-dir flask
COPY . /usr/src/app

# Expose the Flask port
EXPOSE 5000

CMD [ "python", "./app/app.py" ]











                                                    </textarea>
                                                </div>
                                                {% endifequal %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm-12">
                                            <div style="float: right">
                                                <button type="button" id="dockerRegist" class="btn btn-sm btn-success">생성</button>
                                                <button type="button" class="btn btn-sm btn-default" onclick="location.href='/dockers/list/'">취소</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <div class="panel panel-info" style="width:50%">
                                            <div class="panel-heading">
                                                <i class="fa fa-info-circle"></i> 업로드 파일
                                            </div>
                                            <div class="panel-body c">
                                                <p>컴퓨터에서 Dockerfile 또는 Dockerfile이 포함 된 tar 아카이브를 업로드 할 수 있습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form role="form">
                                        <div class="form-group col-sm-6"><label>Repository 명</label> <input type="text" class="form-control"></div>
                                        <div class="form-group col-sm-6"><label>태그</label> <input type="text" class="form-control"></div>
                                    </form>
                                    <div class="col-sm-12">
                                        <div class="input-group m-b">
                                            <span class="input-group-btn">
                                            <button class="btn btn-success " type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Upload</span></button>
                                            </span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div style="float: right">
                                            <button type="button" class="btn btn-sm btn-success">생성</button>
                                            <button type="button" class="btn btn-sm btn-default">취소</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}