{% extends "base.html" %}
<script src="/static/js/dockers/docker_list.js"></script>
{% block contents %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Home</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="">Home</a>
                </li>
                <li class="active">
                    <span>Docker</span>
                </li>
                <li class="active">
                    <strong>Docker 이미지 생성</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="ibox">
                    <div class="tabs-container" style="margin-top: 10px">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1"> Web 에디터</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">업로드 파일</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                            <form method="post" action=".">
                                <div class="panel-body">
                                    {% csrf_token %}
                                    <div class="col-sm-6 b-r">
                                        {% for field in form %}
                                            {% if field.name == 'category' %}
                                                <div class="form-group col-sm-12">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    <div>
                                                        <select class="form-control m-b" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                                            <option>python</option>
                                                            <option>nodejs</option>
                                                            <option>java</option>
                                                            <option>C</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            {% elif field.name == 'dockerfile'%}
                                            {% else %}
                                                <div class="form-group col-sm-12">
                                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                                                            name="{{ field.name }}" value="{{ field.field.empty_value }}"/>
                                                </div>
                                                {% if field.errors %}
                                                    <span style="color: red">{{ field.errors }}</span>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="col-sm-12">
                                            <div style="float: right">
                                                <button type="submit" class="btn btn-sm btn-success">생성</button>
                                                <button type="button" class="btn btn-sm btn-default" onclick="location.href='/dockers/list/'">취소</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="ibox ">
                                            {% for field in form %}
                                                {% ifequal field.name 'dockerfile' %}
                                                    {% if field.errors %}
                                                        <span style="color: red">{{ field.errors }}</span>
                                                    {% endif %}
                                                <div class="ibox-content">
                                                    <textarea id="{{ field.id_for_label }}" name="{{ field.name }}">
FROM python:3.8.5-alpine3.12
MAINTAINER admin


RUN mkdir -p /usr/src/app
WORKDIR /usr/src/app

RUN pip install --no-cache-dir flask
COPY . /usr/src/app

# Expose the Flask port
EXPOSE 5000

CMD [ "python", "./app.py" ]
                                                    </textarea>
                                                </div>
                                                {% endifequal %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <div class="panel panel-info" style="width:50%">
                                            <div class="panel-heading">
                                                <i class="fa fa-info-circle"></i> 업로드 파일
                                            </div>
                                            <div class="panel-body c">
                                                <p>컴퓨터에서 Dockerfile 또는 Dockerfile이 포함 된 tar 아카이브를 업로드 할 수 있습니다.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form role="form">
                                        <div class="form-group col-sm-6"><label>Repository 명</label> <input type="text" class="form-control"></div>
                                        <div class="form-group col-sm-6"><label>태그</label> <input type="text" class="form-control"></div>
                                    </form>
                                    <div class="col-sm-12">
                                        <div class="input-group m-b">
                                            <span class="input-group-btn">
                                            <button class="btn btn-success " type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Upload</span></button>
                                            </span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div style="float: right">
                                            <button type="button" class="btn btn-sm btn-success">생성</button>
                                            <button type="button" class="btn btn-sm btn-default">취소</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}